body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
 
header {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

#toptext {
    text-decoration: underline; 
    font-style: italic;
}
 
h1 {
    font-size: 36px;
    font-weight: bold;
}
 
.quote {
    font-style: italic;
    font-size: 16px;
    color: #666;
    text-align: right;
}
 
.bio {
    margin: 0 auto;
    text-align: left;
}
 
.card {
    max-width: 400px;
    background: #cecece;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

.card_head {
    background: #252525;
}


.h2 {
    background: #252525;
}

#schools {
    text-align: left;
     margin-left: 30px;
      padding-right: 150px;
}
 
.card h2 {
    background: #cecece;
    color: black;
    padding: 10px;
}
 
.card img {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}
 
.card ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
}
 
.content {
    max-width: 800px;
    text-align: justify;
}